

<div class="container" style="margin-top: 30px;width: 50%;">
  <h1 style="text-align: center;">add form</h1>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  <button (click)="close()" style="width: 12%;border: none;background: transparent;"> <span class="close">&times;</span></button> 
    <p style="text-align: center;">{{message}}</p>
  </div>

</div>
<form [formGroup]="dataForm">
    <div class="form-group">
      <label > name</label>
      <input type="text" class="form-control" formControlName="name">
    
    </div>
    <div class="form-group">
        <label > originalPrice</label>
        <input type="text"  class="form-control" formControlName="originalPrice">
      
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"> sellingPrice</label>
        <input type="text" class="form-control" formControlName="sellingPrice" >
       
      </div>
      <div class="form-group">
        <label > code</label>
        <input type="text" class="form-control" formControlName="code" >
        
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label >peice</label>
          <input type="text" class="form-control" id="inputCity" formControlName="peice">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">box</label>
          <input type="text" class="form-control" id="inputCity" formControlName="box">
        </div>
        <div class="form-group col-md-4">
          <label for="inputZip">packet</label>
          <input type="text" class="form-control" id="inputCity" formControlName="packet" >
        </div>
      </div>
     
    
    <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
  </form>
</div>