<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <button routerLink="/add" class="nav-link active" >add</button>   
        </li>
        <li class="nav-item">
       <button routerLink="/bills" class="nav-link" >bills</button>   
        </li>
        <li class="nav-item">
          <button routerLink="/print" class="nav-link" >print</button>   
           </li>
        
      </ul>
    </div>
    
  </div>

<router-outlet></router-outlet>